<ion-content class="customise-content" *ngIf="productData">

  <!-- Item Header -->
  <div class="item-header">
    <div class="item-type-icon">
      <img *ngIf="productData.type==='non-veg'" src="assets/non-veg.png" />
      <img *ngIf="productData.type==='veg'" src="assets/veg.png" />
      <img *ngIf="productData.type==='egg'" src="assets/egg.png" />
    </div>
    <h2 class="item-name">{{ productData.productName }}</h2>
    <p class="item-base-price">$ {{ productData.price.toFixed(2) }}</p>
    <p class="item-description" *ngIf="productData.description">{{ productData.description }}</p>
  </div>

  <div class="divider"></div>

  <!-- Customization Groups -->
  <div class="group" *ngFor="let group of productData.customizationGroups">
    <div class="group-header">
      <div class="group-title-row">
        <h3 class="group-name">{{ group.groupName }}</h3>
        <span class="group-badge required" *ngIf="group.required">Required</span>
        <span class="group-badge optional" *ngIf="!group.required">Optional</span>
      </div>
      <p class="group-subtitle">{{ getGroupSubtitle(group) }}</p>
    </div>

    <div class="option-list">
      <div class="option-row"
           *ngFor="let option of group.options"
           [class.unavailable]="option.isAvailable === false"
           (click)="option.isAvailable !== false && (group.type === 'single' ? onSingleSelect(group._id, option._id) : onMultiToggle(group, option._id))">

        <!-- Radio (single) -->
        <div class="radio-circle" *ngIf="group.type === 'single'">
          <div class="radio-dot" *ngIf="isSelected(group._id, option._id)"></div>
        </div>

        <!-- Checkbox (multi) -->
        <div class="checkbox-box" *ngIf="group.type === 'multi'" [class.checked]="isSelected(group._id, option._id)">
          <ion-icon name="checkmark" *ngIf="isSelected(group._id, option._id)"></ion-icon>
        </div>

        <span class="option-name">{{ option.name }}</span>
        <span class="option-price" *ngIf="option.price > 0">+ $ {{ option.price.toFixed(2) }}</span>
        <span class="option-price free" *ngIf="option.price === 0">FREE</span>
      </div>
    </div>

    <div class="divider"></div>
  </div>

</ion-content>

<!-- Sticky Footer -->
<ion-footer class="customise-footer" *ngIf="productData">
  <button class="add-item-btn" [class.disabled]="!isValid" (click)="confirm()">
    <span class="btn-label">Add item</span>
    <span class="btn-divider">|</span>
    <span class="btn-price">$ {{ totalPrice.toFixed(2) }}</span>
  </button>
</ion-footer>
