<ion-tabs>
  <nav class="tab-bar">
    <a *ngFor="let tab of tabs"
       class="tab-item"
       [routerLink]="[tab.path]"
       routerLinkActive="active"
       [routerLinkActiveOptions]="{ exact: false }">

      <div class="tab-indicator"></div>

      <div class="tab-icon-wrap">
        <ion-icon [name]="tab.iconOutline" class="icon-outline"></ion-icon>
        <ion-icon [name]="tab.icon" class="icon-filled"></ion-icon>
        <span class="cart-badge" *ngIf="tab.badge && cartBadgeCount > 0">
          {{ cartBadgeCount > 99 ? '99+' : cartBadgeCount }}
        </span>
      </div>

      <span class="tab-label">{{ tab.label }}</span>
    </a>
  </nav>
</ion-tabs>
