
<!-- <div class="snowflakes" aria-hidden="true">
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
  <div class="snowflake">
    ❤
  </div>
</div> -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
