.container {
    width: 100%;
    font-size: 14px;
  }
  
  .step {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: cream;
  }
  
  .v-stepper {
    position: relative;
    /*   visibility: visible; */
  }
  
  /* regular step */
  .step .circle {
    background-color: white;
    border: 3px solid gray;
    border-radius: 100%;
    width: 20px;
    /* +6 for border */
    height: 20px;
    display: inline-block;
  }
  
  .step .line {
    top: 23px;
    left: 9px;
    height: 100%;
    position: absolute;
    border-left: 3px solid gray;
  }
  
  .step.completed .circle {
    visibility: visible;
    background-color: #FF6E36;
    border-color: #FF6E36;
  }
  
  .step.completed .line {
    border-left: 3px solid #FF6E36;
  }
  
  .step.active .circle {
    visibility: visible;
    border-color: #FF6E36;
  }
  
  .step.empty .circle {
    visibility: hidden;
  }
  
  .step.empty .line {
    top: 0;
    height: 150%;
  }
  
  .step:last-child .line {
    border-left: 3px solid white;
    z-index: -1;
  }
  
  .content {
    margin-left: 20px;
    display: inline-block;
  
    ion-label {
      font-size: 12px;
      color: gray;
    }
  }
  