ion-header {
  ion-toolbar {
  //  text-align: center;
    height: 60px;
    display: flex;
    ion-button {
      height: 50px;
      width: 50px;
      --border-radius: 50%;

      ion-icon {
        // margin-left:10px;
      }
    }
    ion-title {
      font-family: "latoBold";
      font-weight: 600;
      font-size: 16px;
    }
    .title-col{
      align-items: center;
      display: flex;
    }
  }
}

ion-content.content {
  position: relative;
  font-family: "latoRegular";
  --ion-background-color: #ffffff;



  .map {
    position: absolute;
    height: calc(100% - 277px);
    width: 100%;
    background-color: transparent;
    opacity: 0;
    transition: opacity 150ms ease-in;
  }

  .map.visible {
    opacity: 1;
  }

  .location{
    font-family: "latoBold";
    height: 200px;
    /* width: 100px; */
   // background-color: #ffffff;
   // z-index: 99999;
    position: absolute;
    bottom: 10px;
    width: 100%;
   // padding: 0;
    padding-right: 5px;
    .address{

      padding: 10px;
      p{
        font-size: 14px;
      }

    }
    ion-button{
      color: #ffffff;
      height: 50px;
      width: 100%;
      font-weight: 500;
      --box-shadow: none;
      --border-radius:10px;
      text-transform: capitalize;
      font-size: 14px;
      bottom: 0;
      right: 0;
      position: absolute;
  }
  }

  .sign-in-bottom-container{
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-top: 20px;

    .sign-in-content{
      height: fit-content;
      width: 100%;
      position: relative;
      background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
      color: white;
      border-radius: 20px 20px 0 0;
      padding: 20px;

      .next-btn-container{
        position: absolute;
        right: 30px;
        top: -20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--ion-color-secondary);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 24px;
      }

      .title-container{
        h3{
          font-family:'latoBold';
          font-weight:600;
        }
      }

      .info-box{
        text-align: center;
        font-size: 14px;
      }
    }
  }
}

.addr-detail-container{
  background: white;
  border-radius: 10px;
  padding: 10px;
}
