<ion-content style="max-height: 600px;margin-right: 100px;margin-left: auto;">
  <ion-list>
    <ion-item button *ngFor="let items of category;let i=index" (click)="_dismiss(items._id)">
      <div class="start"></div>
      <label *ngIf="items.Category && !items.RestaurantName" id={{items._id}}>{{items.Category}}</label>
      <label *ngIf="items.MenuName" id={{items._id}}>{{items.MenuName}}</label>
      <label *ngIf="items.RestaurantName" id={{items._id}}>{{items.RestaurantName}}</label>

    </ion-item>
  </ion-list>
</ion-content>