
  .banner-card {
    // margin: 0;
    height: 120px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
  
  .product-card {
    // margin: 20px;
    ion-card {
      text-align: center;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 12px;
    }
    
    ion-card-header {
      background-color: #f8f8f8;
      border-radius: 12px 12px 0 0;
    }
  
    ion-card-title {
      font-family: 'LatoBold';
      font-size: 1.4em;
      color: #333;
    }
    
    ion-card img {
      width: 100%;
      height: auto;
      border-radius: 0 0 12px 12px;
    }
    
    .price-section {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
    }
    
    .price {
      font-size: 1.5em;
      font-weight: bold;
      color: #ff5722;
    }
    
    ion-label {
      font-family: 'LatoBold';
    }
    
    ion-item {
      --background: transparent;
      --border-radius: 8px;
      margin: 10px 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .submit-btn {
      margin-top: 20px;
      ion-button {
        margin-top: 10px;
        --border-radius: 8px;
        --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        --padding: 12px;
      }
    }
  }

  .category-section {
    overflow: hidden;
    position: relative;
    }
    
    .category-container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    }
    
    .category-container::-webkit-scrollbar {
    display: none;
    }
    
    .category-card img {
    width: 100%;
    height: auto;
    border-radius: 0 10px;
    
    }

    .category-selected-img{
      border: 3px solid #f43f3f;
    }

    .category-selected-content{
      border-bottom: 2px solid #fbb611;
    }

    .category-card-content{
      padding-right: 0;
      padding-left: 0;
      padding-top: 0;
    
    }
    
    .category-card{
    box-shadow: none;
    border-radius: 0;
    width: 80px;
    margin-right: 10px;
    flex: 0 0 auto;
    text-align: center;
    
    ion-label {
      display: block;
      margin-top: 8px;
      font-family: 'latoBold' !important;
    }
    }
  

    .live-offer-row{
      padding: 10px;
    }

    .most-popular-col {
      .cuisines-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; // Distribute items evenly
        padding: 10px;
    
        .cuisines {
          height: 210px;
          width: 48%; // Adjust this to fit two items in a row
          margin-bottom: 10px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
    
          .cuisine-img {
            height: 130px;
            width: 100%;
            position: relative;
    
            img {
              height: 130px;
              width: 100%;
              border-radius: 10px;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            }
          }
    
          .cuisine-name {
            height: 30px;
            width: 100%;
            text-align: center;
    
            .shop-name-col {
              margin: auto;
              font-size: 14px;
              font-weight: 600;
              padding: 10px 0;
            }
    
            .shop-desc-row {
              .shop-desc-col {
                font-size: 14px;
                padding: 0 20px;
    
                .rating {
                  color: var(--ion-color-primary);
    
                  img {
                    width: 10px;
                  }
                }
    
                .rating-count {
                  margin-left: 5px;
                  color: var(--ion-color-medium-shade);
                }
              }
            }
          }
        }
      }
    }
    
    .rate-reviews {
      position: absolute;
      height: 55px;
      background: rgb(61 60 60 / 54%);
      top: 10px;
      right: 10px;
      border-radius: 10px;
    }
    
    .rating {
      color: var(--ion-color-primary);
      font-size: 14px;
    
      img {
        width: 10px !important;
        height: 10px !important;
      }
    }
    

    .categories-container {
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      margin: 2px 10px 10px 10px;
      padding: 0px;
      border-radius: 10px;
      height: 525px;
    overflow: scroll;
    background: #ffffff;
    }

    .search-bar {
      position: sticky;
      top: 0;
      z-index: 11;
      background: white;
    }

    .main-list {
      padding: 0 !important;
    }

    .announcement-container {
      height: 130px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
      }
    }

    .menu-float-btn {
      --border-radius: 20px;
      --background: #22224d;
      text-transform: capitalize;
      color: white;
    
      img {
        height: 20px;
        width: 20px;
      }
    }
    

    .menu-popover-container {
      margin-bottom: 20px;
      align-items: center;
      justify-content: center;
      display: flex;
    }