<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Meats & Sea Foods</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Product Card Section -->
  <!-- <div class="product-card">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Chicken</ion-card-title>
      </ion-card-header>
      <img src="assets/chicken.jpg" alt="Delicious Burger" />
      <ion-card-content>
        <div class="price-section">
          <span class="price">₹100 /0.25KG</span>
        </div>
        <ion-item>
          <ion-label>Vendor</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option *ngFor="let vendor of vendors">{{ vendor }}</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Quantity</ion-label>
          <ion-select placeholder="Select Quantity">
            <ion-select-option value="0.5kg">0.5kg</ion-select-option>
            <ion-select-option value="1kg">1kg</ion-select-option>
            <ion-select-option value="1.5kg">1.5kg</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Description</ion-label>
          <ion-textarea placeholder="Enter description here..."></ion-textarea>
        </ion-item>
        <div class="submit-btn">
          <ion-button expand="block" color="success" fill="solid">Order Now</ion-button>
          <ion-button expand="block" color="secondary" fill="solid">Add To Cart</ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div> -->

  <div class="main-container">
    <div class="announcement-container">
      <img src="../../../assets/new-mutton-banner.jpg" />
    </div>
  </div>
  
  <ion-row class="prl-10 live-offer-row">
    <ion-col size="8" class="title">Explore By Category</ion-col>
  </ion-row>
  <div class="category-section">
    <ion-list style="background: #80808017;">
      <div class="category-container">
        <div class="category-card" *ngFor="let category of dailyGroceries" [routerLink]="['/essentials-home']">
          <img [src]="category.image" alt="{{category.name}}" />
          <ion-card-content class="category-card-content">
            <ion-label>{{category.name}}</ion-label>
          </ion-card-content>
        </div>
      </div>
    </ion-list>
  </div>

  <ion-row class="prl-10 live-offer-row">
    <ion-col size="8" class="title">Explore By Shop</ion-col>
  </ion-row>
  
  <div class="categories-container">
    <ion-row class="search-bar">
      <ion-col size="12">
        <ion-searchbar
          [debounce]="1000"
          (ionInput)="handleSearchInput($event)"
          placeholder="Search Favourite Shop"
          class="custom"
        ></ion-searchbar>
      </ion-col>
    </ion-row>

    <ion-row>
      
      <ion-col size="12" class="most-popular-col">
        <div class="cuisines-container">
          <div class="cuisines" *ngFor="let list of popularVendors">
            <!-- Cuisine Image Section -->
            <div class="cuisine-img">
              <div class="rate-reviews">
                <ion-row>
                  <!-- Rating Display -->
                  <ion-col size="12" style="text-align: center;">
                    <span class="rating">
                      <img class="star" src="assets/rating-star.png" />4.9
                    </span>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <!-- Ratings Count Display -->
                  <ion-col size="12" style="font-size: 12px; color: white;">
                    (124 ratings)
                  </ion-col>
                </ion-row>
              </div>
              <!-- Vendor Image -->
              <img [src]="imgBaseUrl + list.profileImgUrl" />
            </div>
            <!-- Cuisine Name and Description -->
            <div class="cuisine-name">
              <!-- Vendor Name -->
              <ion-row>
                <ion-col size="12" class="shop-name-col">
                  {{ list.name }}
                </ion-col>
              </ion-row>
              <!-- Vendor Description -->
              <ion-row class="shop-desc-row">
                <ion-col size="12" class="shop-desc-col elipsis">
                  {{ list.description }}
                </ion-col>
              </ion-row>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>

  </div>

  <ion-accordion-group [multiple]="true" [value]="expandedAccordionValues" style="margin-top: 10px;">
    <ion-accordion #categoryElement [value]="productLists.category._id" toggleIcon="caret-down-circle"
      *ngFor="let productLists of productDetails;let i=index" [id]="productLists.category._id">
      <ion-item slot="header">
        <ion-label> {{productLists.category.categoryName}}&nbsp;({{productLists.products.length}})</ion-label>
      </ion-item>
      <div class="ion-padding main-list" slot="content">
        <div class="ion-list" *ngFor="let product of productLists.products">
          <div style="    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          margin: 10px;
          border-radius: 10px;">
            <ion-list lines="none">
              <ion-card class="item-list-card" [ngClass]="{'not-available':!product.isAvailable}">
                <ion-item>
                  <ion-thumbnail *ngIf="product.imageUrl" slot="end">
                    <img [src]="imgBaseUrl + product.imageUrl" />

                    <ion-button class="item-img-present"
                      *ngIf="!product.itemCount && product.isAvailable">Add</ion-button>
                    <div class="qty-selector" *ngIf="product.isAvailable && product.itemCount">
                      <ion-button fill="clear" [disabled]="!product.itemCount">-</ion-button>
                      <ion-label>{{product.itemCount}}</ion-label>
                      <ion-button fill="clear">+</ion-button>
                    </div>
                  </ion-thumbnail>

                  <ion-thumbnail *ngIf="!product.imageUrl" slot="end">
                    <ion-button *ngIf="!product.itemCount && product.isAvailable"
                      class="item-img-not-present">Add</ion-button>
                    <div class="qty-selector-notimage" *ngIf="product.isAvailable && product.itemCount">
                      <ion-button fill="clear" [disabled]="!product.itemCount">-</ion-button>
                      <ion-label>{{product.itemCount}}</ion-label>
                      <ion-button fill="clear">+</ion-button>
                    </div>
                  </ion-thumbnail>

                  <ion-label class="item-details">
                    <ion-row class="trending-tag">
                      <ion-col size="12">
                        <!-- <div class="item-type">
                          <img *ngIf="product.type==='non-veg'" src="assets/non-veg.png" />
                          <img *ngIf="product.type==='veg'" src="assets/veg.png" />
                          <img *ngIf="product.type==='egg'" src="assets/egg.png" />
                        </div> -->
                        <div class="tag" *ngIf="product.tag !== 'none'">
                          <p style="font-size: 10px; color: white">{{product.tag | uppercase}}</p>
                        </div>
                      </ion-col>
                    </ion-row>
                    <ion-row class="item-name">
                      <ion-col size="12"> {{product.productName}} </ion-col>
                    </ion-row>
                    <ion-row class="item-description">
                      <ion-col size="12"> {{product.description}} </ion-col>
                    </ion-row>
                    <ion-row class="item-price">
                      <ion-col size="12"> Rs. {{product.price}} </ion-col>
                    </ion-row>

                    <ion-row *ngIf="!product.isAvailable" class="item-not-available">
                      <ion-col size="12"> Currently Not Available </ion-col>
                    </ion-row>

                    <!-- <ion-row *ngIf="product.isAvailable && product.customizable.length">
                      <ion-col size="12" class="customize-btn">
                        <ion-button fill="clear" color="primary" id="customise-item"
                          (click)="openModal(product)">
                          Customize
                          <ion-icon slot="end" name="chevron-down-outline"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row> -->
                  </ion-label>
                </ion-item>
              </ion-card>
            </ion-list>
          </div>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  

</ion-content>


<div class="menu-popover-container">

  <ion-button class="menu-float-btn" id="top-center"><img src="assets/meat-menu.png" />&nbsp;Category</ion-button>
  <ion-popover trigger="top-center" side="top" alignment="center">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item class="menu-item" [button]="true" [detail]="false" *ngFor="let list of productDetails"
            (click)="scrollToCategory(list.category._id)">
            <ion-row class="menu-item-row" style="width: 100%;">
              <ion-col size="3"> <img *ngIf="this.selectedCategory === list.category._id"
                  src="assets/meat-knife.png" style="height:28px;" /></ion-col>
              <ion-col size="7"> {{list.category.categoryName}} </ion-col>
              <ion-col size="2" class="secondary-color">{{list.products.length}}</ion-col>
            </ion-row>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

</div>