ion-header {
  ion-toolbar {
    height: 60px;
    display: flex;
    ion-button {
      height: 50px;
      width: 50px;
      --border-radius: 50%;

      ion-icon {
        // margin-left:10px;
      }
    }
    ion-title {
      font-family: "latoBold";
      font-weight: 600;
      font-size: 16px;
      display: inline-block;
    }

    .veg-img {
      margin-right: -10px;
      height: 25px;
      width: 25px;
    }
    .title-col{
      align-items: center;
      display: flex;
    }
  }
  ion-toggle {
    height: 10px;
    width: 39px;
    padding: 12px;
    --background: #ddd;
    --background-checked: #ddd;
    --handle-background: #eb7769;
    --handle-background-checked: #95c34e;
    --handle-width: 20px;
    --handle-height: 20px;
    --handle-max-height: auto;
    --handle-spacing: 0px;
    --handle-border-radius: 50%;
    --handle-box-shadow: none;
    overflow: visible;
    contain: none;
  }
}

ion-content {
  font-family: "latoRegular";
  --ion-background-color: #ffffff;
  .search-bar {
    ion-searchbar.custom {
      --background: #ffc51a;
      --color: #fff;
      --placeholder-color: #fff;

      --icon-color: #fff;
      --clear-button-color: #fff;
      --box-shadow: none;
      --border-radius: 5px;
    }

    ion-searchbar.md.custom {
      --cancel-button-color: #fff;
    }
  }

  .todays-offers {
    padding: 0px;
    .container-label {
      margin-top: 10px;
      position: relative;
      ion-label {
        font-family: "latoBold";
        font-weight: 600;
        font-size: 14px;
      }
      img {
        margin-top: 10px;
        height: 30px;
        width: 30px;
        position: absolute;
        margin-top: -3px;
      }
    }
  }

  .todays-offer-container {
    .offer-content {
      height: 100%;
      width: 200px;
      background-color: #eb7769;
    }

    ion-card {
      width: 100%;
      height: 160px;
      box-shadow: none;
      border-radius: 12px;

      img {
        object-fit: cover;
        width: 100%;
        transform: scale(1.1, 1.1) rotate(1deg);
        transition: 600ms all ease-in-out;
        height: 100%;
      }
    }

    .swiper-slide-active {
      transform: scale(1.05, 1.05);

      ion-card {
        img {
          transform: scale(1, 1);
        }
      }
    }

    .swiper-slide {
      transition: 400ms all ease-in-out;
    }
  }

  .trending-items-container {
    ion-col {
      background-color: #135d54;
      border: solid 1px #fff;
      color: #fff;
      text-align: center;
      height: 150px;
      padding: 0px;
      border-radius: 5px;

      .img {
        height: 80px;
        width: 100%;
        background-color: rgb(255, 180, 180);
        border-radius: 5px;
      }
      .cart-btn {
        height: 25px;
        width: calc(100% - 20px);
        background-color: #95c34e;
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        border-radius: 5px;

        ion-label {
          font-size: 10px;
        }

        .less-btn {
          height: 25px;
          width: 17px;
          position: absolute;
          left: -5px;
          top: -4px;
        }

        .add-btn {
          height: 25px;
          width: 17px;
          position: absolute;
          right: 9px;
          top: -4px;
        }
      }
    }
  }

  .category-items-container {
    ion-col {
      // background-color: #135d54;
      border: solid 1px #fff;
      color: #fff;
      text-align: center;
      height: 120px;
      padding: 0px;
      border-radius: 5px;

      .img {
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: rgb(255, 180, 180);
        margin-left: auto;
        margin-right: auto;
      }
      .title {
        margin-top: 5px;
        height: 100%;
        width: 100%;
        background-color: white;
        ion-label {
          color: rgb(104, 104, 104);
          font-size: 12px;
        }
      }
    }
  }

  .restaurants {
    ion-list {
      ion-item {
        --padding-start: 0;
        h3 {
          font-weight: 600;
        }
        .addr {
          font-size: 12px;
        }
      }

      /* iOS places the subtitle above the title */
      ion-card-header.ios {
        display: flex;
        flex-flow: column-reverse;
      }
    }
    .rest-chips {
      overflow: scroll;
      ion-row {
        display: inherit;
        ion-col {
          margin-left: -10px;
        }
      }
    }
  }

  ion-chip {
    --background: #ff7400;
    --color: white;
    // width: 68px;
    height: 27px;
    font-size: 12px;
  }

  .delivery-details{
    height: 30px;
    background: #e0e0e063;
    border-radius: 10px;
    ion-row{
      height: 100%;
      margin-top: -5px;
      ion-col{
        span{
          font-size: 12px;
    position: relative;
    top: -3px;
    left: 3px;
    color: #393939;
        }
      }
    }
  }
}
