<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>Offers</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="primary" value="special"  [scrollable]="true">
    <ion-segment-button value="special">
      <ion-label>Special Deals</ion-label>
    </ion-segment-button>
    <ion-segment-button value="limited">
      <ion-label>Limited Deals</ion-label>
    </ion-segment-button>
    <ion-segment-button value="restaurant">
      <ion-label>Restaurant Offers</ion-label>
    </ion-segment-button>
    <ion-segment-button value="coupon">
      <ion-label>Coupons</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div class="container">
    <div class="coupon-card">
        <img src="../../../../assets/20.png" class="logo">
        <h3>Welcome Offer</h3>
        <p>For First Order</p>
        <div class="coupon-row">
            <span id="cpnCode">WELCOME20</span>
            <span id="cpnBtn">Copy Code</span>
        </div>
        <p>Valid Till: 20Dec, 2021</p>
        <div class="circle1"></div>
        <div class="circle2"></div>
    </div>
</div>
<div class="container">
  <div class="coupon-card">
      <img src="../../../../assets/20.png" class="logo">
      <h3>Welcome Offer</h3>
      <p>For First Order</p>
      <div class="coupon-row">
          <span id="cpnCode">WELCOME20</span>
          <span id="cpnBtn">Copy Code</span>
      </div>
      <p>Valid Till: 20Dec, 2021</p>
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
</div>
<div class="container">
  <div class="coupon-card">
      <img src="../../../../assets/20.png" class="logo">
      <h3>Welcome Offer</h3>
      <p>For First Order</p>
      <div class="coupon-row">
          <span id="cpnCode">WELCOME20</span>
          <span id="cpnBtn">Copy Code</span>
      </div>
      <p>Valid Till: 20Dec, 2021</p>
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
</div>
<div class="container">
  <div class="coupon-card">
      <img src="../../../../assets/20.png" class="logo">
      <h3>Welcome Offer</h3>
      <p>For First Order</p>
      <div class="coupon-row">
          <span id="cpnCode">WELCOME20</span>
          <span id="cpnBtn">Copy Code</span>
      </div>
      <p>Valid Till: 20Dec, 2021</p>
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
</div>
<div class="container">
  <div class="coupon-card">
      <img src="../../../../assets/20.png" class="logo">
      <h3>Welcome Offer</h3>
      <p>For First Order</p>
      <div class="coupon-row">
          <span id="cpnCode">WELCOME20</span>
          <span id="cpnBtn">Copy Code</span>
      </div>
      <p>Valid Till: 20Dec, 2021</p>
      <div class="circle1"></div>
      <div class="circle2"></div>
  </div>
</div>
</ion-content>
