.container{
  width: 100%;
  // height: 100vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

}
.coupon-card{
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

  color: #fff;
  text-align: center;
  // padding: 40px 80px;
  border-radius: 15px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,0.15);
  position: relative;
  height: 230px;
  width: 100%;
  padding: 10px;

}
.logo{
  width: 60px;
  // border-radius: 8px;
  // margin-bottom: 20px;

}
.coupon-card h3{
  // font-size: 18px;
 font-family: 'latoBold';
  line-height: 40px;
  margin: 0;

}
.coupon-card p{
  font-size: 15px;
  margin: 0;

}
.coupon-row{
  display: flex;
  align-items: center;
  margin: 12px auto;
  width: fit-content;

}
#cpnCode{
  border: 1px dashed #fff;
  padding: 10px 20px;
  border-right: 0;

}
#cpnBtn{
  border: 1px solid #fff;
  background: #fff;
  padding: 10px 20px;
  color: var(--ion-color-secondary);
  cursor: pointer;
}
.circle1, .circle2{
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}
.circle1{
  left: -25px;
}
.circle2{
  right: -25px;
}

ion-segment {
  position: sticky;
  top: 0;
  z-index: 1;
  --background: var(--ion-color-light);
  border-radius: 0 0 10px 10px;
}
