
ion-content.content {
    font-size: 14px;
}
.delivery-location {
    padding: 0 10px;
    margin-top: 5px;
    .delivering-to {
      font-size: 14px;
      color: var(--ion-color-medium);
    }
  }
  .location {
    padding: 0 10px;
    // margin-top: -10px;
    font-size: 16px;
    font-family: "latoBold";
    color: var(--ion-color-medium-shade);
    display: flex;
    align-items: center;
  }

  .row-container{
    width: 100%;
  
    .addr-title{
      font-family: 'latoBold' !important;
    }
    ion-label{
      font-size: 14px;
  
    }
  }

  .payable-amt-container{
    padding: 10px;
    height: fit-content;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin: 10px;
    border-radius: 10px;

    .amt{
        color: var(--ion-color-secondary);
        font-weight: 600;
    }

    .amt-ins{
        margin-top: 10px;
        color: var(--ion-color-primary);
    }
  }